 .btn{
 	border-radius: 45px;
 }
 .btn-danger {
    color: #fff !important;
    background-color: #000;
    border-color: #fff;
    border-radius: 45px !important; 
    padding: 4px 45px !important;
    margin-top: 10px;
    border-color: red; 
    
}
.btn-danger:hover {
    color: red;
    background-color: #fff;
    border-color: #fff; 
}
.btn-success {
    color: #fff;
    background-color: transparent !important; 
    border-color: #fff !important; 
    border-radius: 45px !important; 
    padding: 4px 45px !important; 
    transition: all 0.5s;
}
.btn-success:hover {
    color: orange !important; 
    background-color: #fff !important; 
    border-color: orange;
    border-radius: 45px;
    padding: 4px 45px; 
}